<%- include('../../partials/head.ejs') %>
    <%- include('../../partials/adminTopbar.ejs') %>
        <h2 class="mt-4">Artigos</h2>
        <br>
        <div class="d-flex justify-content-end">
            <a href="/admin/articles/new" class="btn btn-primary">Criar novo Artigo</a>
        </div>
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Título</th>
                    <th>Slug</th>
                    <th>Categoria</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% articles.forEach(article => { %>
                    <tr>
                        <td>
                            <%= article.id %>
                        </td>
                        <td>
                            <%= article.title %>
                        </td>
                        <td>
                            <%= article.slug %>
                        </td>
                        <td>
                            <%= article.category.title %>
                        </td>
                        <td class="d-flex">
                            <a href="/admin/articles/<%= article.id %>" class="btn btn-warning">Editar</a>

                            <form method="POST" action="/articles/delete" onsubmit="handleDelete(event, this)">
                                <input type="hidden" name="id" value="<%= article.id %>">
                                <button class="btn btn-danger ms-2" type="submit">Deletar</button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <%- include('../../partials/footer.ejs') %>

            <script>
                function handleDelete(event, form) {
                    event.preventDefault()
                    const decision = confirm('Você quer deletar este artigo?')
                    if (decision) {
                        form.submit();
                    }
                }
            </script>